@import "~src/theme.scss";

#profile-update-btn {
  margin: 15px 0;
}

#profile-form {
  width: 100%;
  max-width: $xs-width;
  margin: 0 auto;
}

.mat-content {
  justify-content: space-between !important;
  .mat-expansion-panel-header-title,
  .mat-expansion-panel-header-description {
    flex-grow: 0 !important;
  }
}
